 
      <tr class="post">
        <td ><%= raw Pygments.highlight(bean.snippet.length > 20 ? bean.snippet[0,20] + "..." : bean.snippet, lexer: bean.lang) %>
	<div class="visible-xs">
		<strong>Lang: </strong><br/>
		<%= bean.lang.length > 20 ? bean.lang[0,20] + "..." : bean.lang %>
		<br/>
		<strong>Description: </strong><br/> 
		<%= bean.description.length > 20 ? bean.description[0,20] + "..." : bean.description %>
		<br/>
		<%= link_to 'Show', bean, :class=>"btn btn-info" %>
        	<% if user_signed_in? then %><%= link_to 'Edit', edit_bean_path(bean), :class=>"btn btn-success" %>
        	<%= link_to 'Destroy', bean, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger" %><% end %>
	</div>
	</td>
        <td class="hidden-xs"><%= bean.lang %></td>
        <td class="hidden-xs"><%= bean.description %></td>
        <td><%= link_to 'Show', bean, :class=>"hidden-xs btn btn-info" %>
        <% if user_signed_in? then %><%= link_to 'Edit', edit_bean_path(bean), :class=>"hidden-xs btn btn-success" %>
        <%= link_to 'Destroy', bean, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"hidden-xs btn btn-danger" %><% end %></td>
      </tr>
   
