 
      <tr>
        <td><style="text-align: left"><%= raw Pygments.highlight(bean.snippet, lexer: bean.lang) %></style></td>
        <td><%= bean.lang %></td>
        <td><%= bean.description %></td>
        <td><div class="newBean"><%= link_to 'Show', bean %>
        <% if user_signed_in? then %><%= link_to 'Edit', edit_bean_path(bean) %>
        <%= link_to 'Destroy', bean, method: :delete, data: { confirm: 'Are you sure?' } %><% end %></div></td>
      </tr>
   